/* general styling */
html,
body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  display: flex;
}

.container {
  color: #333;
  margin: 0 auto;
  text-align: center;
  margin-top: -140rem;
}

h1 {
  font-weight: normal;
  letter-spacing: 0.125rem;
  font-size: 90rem;
  margin-top: -170rem;
  margin-bottom: 20rem;
}

.col-6,
.col-sm-2 {
  font-size: 20rem;
}

div span {
  display: block;
  font-size: 70rem;
}

#countdown{
  padding-bottom: 50rem;
}