<div class="container">
  <img src="assets/images/logo-png.png" width="85%" height="35%" alt="zivo logo">
  <h1 id="headline">قـريباً</h1>
  <div id="countdown">
    <div class="row justify-content-center ">
      <div class="col-6 col-sm-2"><span id="days">{{days}}</span>يوم</div>
      <div class="col-6 col-sm-2"><span id="hours">{{hours}}</span>ساعة</div>
      <div class="col-6 col-sm-2"><span id="minutes">{{minutes}}</span>دقيقة</div>
      <div class="col-6 col-sm-2"><span id="seconds">{{seconds}}</span>ثانية</div>
    </div>
  </div>
</div>
