/* general styling */
html,
body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  display: flex;
}

.container {
  color: #333;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-weight: normal;
  letter-spacing: 0.125rem;
  font-size: 90rem;
}

.col-12,
.col-md-2,
.col-sm-3 {
  position: relative;
  top: -20px;
  font-size: 20rem;
  margin-bottom: 30px;
}

div span {
  display: block; 
  font-size: 70rem;
}

#countdown{
  margin-top: 20px;
  padding-bottom: 50px;
}